<launch>
  <arg name="rviz" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="fake_state" default="false"/>
  
  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find priovr_description)/urdf/human.urdf.xacro'"/>

  <!-- send fake joint values -->
  <group if="$(arg fake_state)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="true" />
    </node>
  </group>
  
  <!-- PrioVR node -->
  <group unless="$(arg fake_state)">
    <node name="get_joint_states" pkg="priovr_interface" type="get_joint_states.py" output="screen">
      <rosparam command="load" file="$(find priovr_interface)/config/priovr_common.yaml"/>
      <rosparam command="load" file="$(find priovr_interface)/config/human.yaml"/>
      <param name="debug" value="$(arg debug)" />
    </node>
  </group>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/priovr/joint_states" />
  </node>

  <!-- Show in Rviz  -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find priovr_interface)/config/human.rviz"/> 
  </group>
</launch>
